%h1 Sign The Terms?
%p= @term.content


%div= link_to "Yes, I'm in.", signatures_path(term_id: @term, participant_id: @participant), method: 'POST', class: 'button'


%h3 Your Secret Identifier for this Agreement
%div.participant_id= @participant.id


%h3 Term Identifiery
%div.term_id= @term.id

