%h2 Terms

%p= @term.content

%h3 Participants
%ul
  - @term.participants.each do |participant|
    %li= render participant

%h4 Created At
%p
  Created
  %time{ datetime: @term.created_at }= time_ago_in_words(@term.created_at)
  ago.
