%h4 How Does it Work?

%ol
  %li You write down terms of agreement and email of participants.
  %li Agree.io sends everyone a message with a link.
  %li Everyone follows the received link to indicate agreement.
  %li Success!

%h4 The Inspiration

%p
  See
  %a{href:"http://ycombinator.com/hdp.html", target:'_blank'} The Handshake Deal Protocol
  
