= render partial: 'shared/about'

- content_for :about do
  %h4 Activity
  %table{width: '100%'}
    %thead
      %tr
        %th{colspan: 2} Tallies
    %tr
      %th{class: 'left'} Terms
      %td= Term.count
    %tr
      %th{class: 'left'} Participants
      %td= Participant.count
    %tr
      %th{class: 'left'} Signatures
      %td= Signature.count
