-# layout.haml
!!! XML
!!!
%html
  %head
    %title Agree.io: Better than a Handshake
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{name: "google-site-verification", content: "oUA8c59iffqVnvcx3NrOOYM3WxdFsq08CIcm9J7yvS0"}
  %body
    = yield
